	#title {text-align:center; 
			font-size:60px;
			font-style:bold;
			}
	/*#a. hover:hover {background-color: green;  <---I can't get this to work.
			font-style:bold;
			}*/
			
	#header {border: 3px red dashed;
			/*background-color: yellow;*/
			text-align:left-50px;
			}
	#footer {border: 3px red dashed;
			/*background-color: yellow;*/
			text-align:center;
			}
			
	/*#mainDescription {/*border: 3px red dashed;
			background-color: yellow;
			font-size:20px;
			height:100px;
			text-align:center;
			}	*/
			
	#content {background-color: yellow;
			text-align:center;
			}
			
	IMG.displayed {
			display: block;
			margin-left: auto;
			margin-right: auto;
			}	
			
	body	{
			font-family: IM Fell English SC, serif;
			}
			
	textarea {
		color: #781351;
		background: #fee3ad;
		border: 1px solid #781351
		} 
	
	select {
		color: #781351;
		background: #fee3ad;
		border: 1px solid #781351;
		font-weight: bold;
		}
	
	.submit input	{
		margin-left: 4.5em;			/*I assumed that label meant just bolding the input buttons.*/
		color: #000;				/*This would be set to body if all text on form should be bold.*/
		background: #ffa20f;
		border: 2px outset #d7b9c9;
		font-weight:bold;
		}
		
	form {
		font-weight:bold;
		}	