/*<link href="https://fonts.googleapis.com/css?family=Rancho|IM+Fell+English+SC" 
rel="stylesheet" type="text/css">*/

			body {
			font-family: 'Rancho', handwriting;
        	/*font-size: 18px;*/
        	margin-left: 220px;
        	margin-right: 220px;
        	padding:10px;
        	border: 10px white solid;
			}
			
			p.solid {border-style: solid;}
			table {border-collapse: collapse;}  
			th {font-weight: bold; color: gold}
			
			#caption {
				text-align:center;
				font-weight: bold;
	    		font-size: 28px;
				color: purple;
				}
				
			td {font-style:italic;}
			
			#credits {text-align: center;}
			
			
			#albumImage	{
				background: url("220px-Princepurplerain.jpg");
				width: 200px;
				height: 200px;
				background-position: 50% 50%;
				margin:auto;
				background-repeat: no repeat;
				}
				
			#list1 {
			font-style:italic;
					}	
			
			table {
				background-color:gold;
				}
				
			#nameAlbum {
				text-align:center;
				font-weight: bold;
	    		font-size: 38px;
				color: purple;
				}
				
			#nameMembers {
				text-align:center;
				font-weight: bold;
	    		font-size: 30px;
				color: purple;
				}
				
			a {
				text-decoration: none;
				font-weight: none;
				}
				
			a:hover {
				text-decoration: underline;
				background-color:gold;
				}
					
			a:active{
				text-decoration: none;
				background-color:none;
				}
			