	#title {text-align:center; 
			font-size:70px;
			font-style:bold;
			}
	#subtitle {text-align:center;
				font-size:28px;
				font-style:bold;
				}
			
	#header {border: none;
			background-color: lemonchiffon;
			text-align:left-50px;
			padding-left:15px;
			}
			
	#footer {border: none;
			background-color: lemonchiffon;
			text-align:center;
			}
			
	/*#mainDescription {/*border: 3px red dashed;
			background-color: yellow;
			font-size:20px;
			height:100px;
			text-align:center;
			}	*/
			
	#content {background-color: yellow;
			text-align:center;
			padding-top: 15px;
			padding-right: 100px;
			padding-bottom: 15px;
			padding-left: 100px;
			}
			
	IMG.displayed {
			display: block;
			margin-left: auto;
			margin-right: auto;
			padding-bottom:10px;
			}	
			
	body	{
			font-family: IM Fell English SC, serif;
			background-color: #99ff33;
			}

	textarea {
			color: #781351;
			background: #fee3ad;
			border: 1px solid #781351
			} 
	
	select {
			color: #781351;
			background: #fee3ad;
			border: 1px solid #781351;
			font-weight: bold;
			}
	
	.submit input {
		margin-left: 4.5em;			
		color: #000;				
		background: #ffa20f;
		border: 2px outset #d7b9c9;
		font-weight:bold;
		}
			
	a		{
			font-family: IM Fell English SC, serif;
			text-decoration: underline;
			font-weight:none;
			color:green;
			}
	
	a:link {
			color:green;
			
			}
			
	a:visited  {
			color: red;
			text-decoration:none;
			}
			
	a:hover {
			font-weight:bold;
			}
			
	a:active {
			text-decoration:none;
			}
	form {
		background-color:yellow;
		padding: 15px;
		font-weight:bold;
		}		
			