		body {
			font-family: 'Rancho', handwriting;
        	/*font-size: 18px;*/
        	margin-left: 220px;
        	margin-right: 220px;
        	padding:10px;
        	border: 10px white solid;
			}
			
		p.solid {border-style: solid;}
			table {border-collapse: collapse;}  
			th {font-style: italic; color: gold}
			caption {font-style: italic;} 
			
		#credits {font-style:italic;
					text-align: center;}
			
			
		#albumImage	{
				background: url("220px-Princepurplerain.jpg");
				width: 200px;
				height: 200px;
				background-position: 50% 50%;
				margin:auto;
				background-repeat: no repeat;
				}
				
		#list1 {
			font-style:italic;
			}	
			