	#title {text-align:center; 
			font-size:60px;
			font-style:bold;
			}
	#a. hover:hover {background-color: green;
			font-style:bold;
			}
			
	#header {border: 3px red dashed;
			/*background-color: yellow;*/
			text-align:left-50px;
			}
	#footer {border: 3px red dashed;
			/*background-color: yellow;*/
			text-align:center;
			}
			
	#mainDescription {border: 3px red dashed;
			/*background-color: yellow;*/
			font-size:20px;
			height:100px;
			text-align:center;
			}	